.percent-list{
	min-height:338px;
	

	li{
		padding-top:25px;
		height:116px;
		border-top:1px solid #000;
		box-sizing:border-box;

		&:first-child{
			height:114px;	
			border-top:none;
		}
		&:last-child{
			height:107px;
		}

		div{
			position:relative;
			float:left;
			padding:0 5px 0 20px;
			width:220px;

			&:before{
				content:"";
				width:1px;
				height:88px;
				background-color:#423e70;
				position:absolute;
				left:0;
				top:50%;
				transform:translateY(-50%);
			}

			&:first-child{
				&:before{
					display:none;
				}
			}
		}

		img{
			vertical-align:inherit;
			padding:0 10px;
		}
		
		p{
			color:#4b4b4b;
			font-size:18px;
		}
	
		.num-first{
			color:$titBg;
		}
		.num-second{
			color:#0eb09b;
		}
		.num-third{
			color:#ffb108;
		}
	}
}
.percent-img{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:644px;

	.percent-pos{
		position:absolute;
		color:#606060;
		font:16px/22px "microsoft yahei";
		
		&.percent-pos-t{
			top:100px;
			left:450px;
		}

		&.percent-pos-b{
			top:215px;
			left:370px;

			p{
				&:first-child{
					text-indent:2em;

					& + p{
						text-indent:1em;
					}
				}
			}
		}

		&.percent-pos-r{
			top:193px;
			left:510px;
		}

		p{

			&:first-child{
				text-indent:1em;
			}
		}


	}
}
.operate{

	.overlap-cont{
		background-color:#f5f5f5;
	}
}


/* 流量构成*/
.overlap-cont.operate-flow{
	padding:45px 0 0 8px;
}
.operate-flow-canvases{
	float:left;
	width:290px;
	text-align:center;

	.tit{
		display:inline-block;
		padding:0 20px;
		height:32px;
		font:18px/32px $yh;
		background-color:#e8eef8;
		border:1px solid #9e9e9e;
		border-radius:$bdrs;
	}
	.items{
		height:420px;
	}
}
.operate-flow-pd{
	padding:40px 35px 40px 0;
}

/* 流量构成*/

/* 流量构成*/

/* 流量构成*/

