$titleBg: #d8deeb;
$titBg: #3b5999;
$bodyBg: #dce7ec;
$bdrs: 5px;
$bdbc: #5a74a9;
$drak: #142b5c;
$echartsbg: #5c78b3;
$yh: "microsoft yahei";
$scale-left: 140px;

$first-c: #01a6e7;
$second-c: #1fcfae;
$third-c: #3876c1;

$change: #1bd98f;
$del: #1aafe9;

%flex{
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-ms-flexbox;
	display:-o-flex;
	display:flex;
}