$titleBg: #d8deeb;
$titBg: #3b5999;
$bodyBg: #dce7ec;
$bdrs: 5px;
$bdbc: #5a74a9;
$drak: #142b5c;
$echartsbg: #365392;
$yh: "microsoft yahei";

%flex{
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:-ms-flexbox;
	display:-o-flex;
	display:flex;
}