$dataBg: #ecf0f8;

/* 运营情况 */
.operate-data{
	margin-top:10px;
	@extend %clearfix;
	@extend %flex;

	.operate-list{
		float:left;
		margin-left:10px;
		width:435px;
		border:1px solid $titBg;
		border-radius:$bdrs;
		display:table-cell;

		&:first-child{
			margin-left:0;
		}

		&:last-child{
			width:300px;

			li{
				em{
					width:100%;
				}
			}
		}

		.sys-title{
			$h: 54px;
			height:$h;
			line-height:$h;
			text-align:center;
			color:$titBg;
			border-width:0 0 1px;

			.icon{
				position:relative;
				padding-left:47px;
				display:inline-block;
				height:100%;

				&:before{
					content:"";
					position:absolute;
					left:0;
					top:50%;
					width:38px;
					height:39px;
					transform:translateY(-50%);
					@extend %bgicon;
				}
				

				&.icon-1:before{
					background-position:0 0;
				}
				&.icon-2:before{
					background-position:-38px 0px;
				}
				&.icon-3:before{
					background-position:-76px 0px;
				}
			}
		}

		ul{
			padding:13px 0 16px;
		}

		li{
			padding:0 15px;
			height:47px;
			font:18px/47px "microsoft yahei";
			margin-top:13px;

			span{
				float:left;
				color:$titBg;
			}

			em{
				float:right;
				width:277px;
				color:#4d4d4d;
				text-align:center;
				background-color:$dataBg;
				border-radius:$bdrs;
				box-shadow:inset 0 1px 2px 1px rgba(0, 0, 0, .12);
			}
		}
	}
}

#flow-echarts,
#shop-echarts,
#member-echarts,
#online-echarts{
	height:100%;
}