%clearfix:after{
    content:"";
    display:block;
    overflow:hidden;
    height:0;
    clear:both;
}

body{
    background-color:#144393;
}

.login-nav{
    height:80px;
    font-size:18px;
    line-height:80px;
    color:#fff;
    border-bottom:1px solid #577bc7;
    background:url(../images/login/top.png) repeat-x;

    .logo{
        float:left;     

        img{
            vertical-align:middle;
        }

        span{
            position:relative;
            margin-left:18px;
            padding-left:24px;
            display:inline-block;
            color:#fff;

            &:before{
                content:"";
                position:absolute;
                left:0;
                top:50%;
                margin-top:-26px;
                width:1px;
                height:52px;
                background-color:#fff;
            }
        }
    }

    .tel{
        float:right;
        margin-right:28px;
    }
}
.login-inner{
    padding-top:110px;
    height:642px;
    background:url(../images/login/bg.jpg) no-repeat center;
    box-sizing:border-box;

    .login-wrap{
        float:right;
        margin-right:27px;
        padding:10px 20px 30px;
        width:346px;
        background-color:#fff;
        border-bottom:4px solid #8b9db7;
        box-shadow:0 5px 10px rgba(#040000, .3);
        box-sizing:border-box;

        h3{
            padding:0 20px; // 为了框架的边距, 补全满
            margin-left:-20px;  // 拉回左侧padding值
            width:100%; // 真实宽度
            height:44px;
            color:$titBg;
            text-align:center;
            font-size:20px;
            line-height:44px;
            border-bottom:1px solid #f4f4f4;
        }

        .input-wrap{
            margin-top:12px;
            padding:0 20px 0 52px;
            height:40px;
            box-sizing:border-box;
            overflow:hidden;
            
            &.user{
                margin-top:7px;
                background:url(../images/login/user.png) no-repeat;
            }

            &.pwd{
                background:url(../images/login/pwd.png) no-repeat;
            }

            &.code{
                padding:0;

                img{
                    float:right;
                    cursor:pointer;
                }

                input{
                    width:190px;
                    padding:0 10px;
                    box-sizing:border-box;
                    border:1px solid #bdbdbd;
                }
            }

            input{
                width:100%;
                height:100%;
                border:none;
                font-size:14px;
                background-color:transparent;
            }
        }
        .tips{
            padding-top:5px;
            color:#f00;
        }

        .div-wrap{
            padding:10px 0;
            font-size:13px;
            color:#737373;
    
            input{
                margin-right:5px;
                vertical-align:middle;
            }

            .forget-pwd{
                float:right;
                color:#737373;

                &:hover{
                    color:#f00;
                }
            }

            &.mt{
                margin-top:15px;
            }
        }

        .btns{

            .btn{
                width:140px;
                height:38px;
                color:$titBg;
                font-size:19px;
                background-color:#fff;
                border:1px solid $titBg;

                &.btn-login{
                    float:left;
                    color:#fff;
                    background-color:$titBg;
                }

                &.btn-reg{
                    float:right;
                }
            }
        }
    }
}
.login-footer{
    height:124px;
    padding-top:26px;
    color:#fff;
    text-align:center;
    background-color:#144393;
    border-top:1px solid #4d72b2;
    box-sizing:border-box;

    .link{
        margin-top:20px;

        a{
            position:relative;
            margin:0 32px;
            color:#fff;
            line-height:18px;

            &:first-child{
                &:before{
                    display:none;
                }
            }
            
            &:before{
                content:"";
                position:absolute;
                left:-32px;
                top:50%;
                margin-top:-9px;
                width:1px;
                height:18px;
                background-color:#fff;
            }
        }
    }
}
.main{
    margin:0 auto;
    width:1230px;

    @extend %clearfix;
}